<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Prologue by HTML5 UP</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

<script>
	function atualizar() {
		var url = '/atualizar';
		$("#BSensor").load(url);
	}
	
	public pesquisar(){
		var url = '/PesquisarHistorico';
		$("#tableHistorico").load(url);
	}

	setInterval(atualizar, 500);
	
	function acendeLampada() {
		 $.ajax({
	        type: "POST",
	        url: "/acenderLampada1"
	    });
	}


	
</script>

<style>
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

._container {
	padding: 0px;
	position: relative;
	text-align: center;
	color: white;
	position: relative;
}

.font {
	font-size: 300%;
}

.lampada {
	border-radius: 50%;
	margin-top: 20px;
	margin-left: 5%;
	width: 50px;
	height: 50px;
	display: inline-block;
}

.lampada img {
	width: 100%;
	height: 100%;
}

.on {
	background-color: #fed330;
}

.off {
	background-color: #EA2028;
}

table, th, td {
    border: 0.5px solid #666;
    border-collapse: collapse;
}
</style>
</head>
<body>

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<span class="image avatar48"><img src="images/logo.png"
					alt="" /></span>
				<h1 id="title">Hackathon</h1>
				<p>Stefanini</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#top" id="top-link"
						class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
					<li><a href="#Sensores" id="Sensores-link"
						class="skel-layers-ignoreHref"><span class="icon fa-wifi">Sensores</span></a></li>
					<li><a href="#automacao" id="automacao-link"
						class="skel-layers-ignoreHref"><span class="icon fa-wrench">Automação</span></a></li>
					<li><a href="#historico" id="historico-link"
						class="skel-layers-ignoreHref"> <span
							class="icon  fa-line-chart">Histórico</span></a></li>
					<li><a href="#api" id="api-link"
						class="skel-layers-ignoreHref"><span class="icon fa-cubes">API</span></a></li>
					<li><a href="#tecnologia" id="tecnologia-link"
						class="skel-layers-ignoreHref"><span class="icon fa-envelope">Tecnologias</span></a></li>
				</ul>
			</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="automacao/" class="icon fa-facebook"><span
						class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="#" class="icon fa-dribbble"><span
						class="label">Dribbble</span></a></li>
				<li><a href="#" class="icon fa-envelope"><span
						class="label">Email</span></a></li>
			</ul>

		</div>

	</div>

	<!-- Main -->
	<div id="main">

		<!-- Intro -->
		<section id="top" class="one dark cover">
			<div class="container">

				<header>
					<h2 class="alt">
						Bem-Vindo ao <strong>Hackathon</strong> Stefanini
					</h2>
					<p>
						Ligula scelerisque justo sem accumsan diam quis<br /> vitae
						natoque dictum sollicitudin elementum.
					</p>
				</header>

			</div>
		</section>

		<!-- Sensores -->
		<section id="Sensores" class="two">
			<div class="container">

				<header>
					<h2>
						Sensores <a href="#Sensores" onclick="atualizar();"> <span
							class="icon fa-refresh"> </span>
						</a>

					</h2>

				</header>


				<div id="BSensor" class="row" th:fragment="sensores">
					<div class="4u 12u$(mobile)">
						<article class="item">
							<div class="_container image fit">
								<img src="images/pic07.jpg" alt="" />
								<div class="centered font">
									<span th:text=${temperatura}></span>º
								</div>
							</div>
							<header>
								<h3>Sensor Temperatura</h3>
							</header>
						</article>
					</div>
					<div class="4u 12u$(mobile)">
						<article class="item">
							<div class="_container image fit">
								<img src="images/pic07.jpg" alt="" />
								<div class="centered font">
									<span th:text=${umidade}></span>%
								</div>
							</div>

							</a>
							<header>
								<h3>Sensor Umidade</h3>
							</header>
						</article>

					</div>
					<div class="4u$ 12u$(mobile)">
						<article class="item">
							<div class="_container image fit">
								<img src="images/pic07.jpg" alt="" />
								<div class="centered font">
									<span th:text=${luminosidade}></span>
								</div>
							</div>

							<header>
								<h3>Sensor Luminosidade</h3>
							</header>
						</article>

					</div>
					<div id="lampadas" class="4u$ 12u$(mobile)" style="width: 100%; margin-top: 50px">
						<article class="item">
							<div th:class="'lampada '+${l1}">
								<img src="images/lampada.png" /> L1
							</div>
							<div th:class="'lampada '+${l2}">
								<img src="images/lampada.png" /> L2
							</div>
							<div th:class="'lampada '+${l3}">
								<img src="images/lampada.png" /> L3
							</div>
							<div th:class="'lampada '+${l4}">
								<img src="images/lampada.png" /> L4
							</div>
							<div th:class="'lampada '+${l5}">
								<img src="images/lampada.png" /> L5
							</div>
							<div th:class="'lampada '+${l6}">
								<img src="images/lampada.png" /> L6
							</div>
							<div th:class="'lampada '+${l7}">
								<img src="images/lampada.png" /> L7
							</div>
							<div th:class="'lampada '+${l8}">
								<img src="images/lampada.png" /> L8
							</div>



							<header>
								<h3>Lampadas</h3>
							</header>

						</article>


					</div>
				</div>
			</div>
		</section>

		<!-- About Me -->
		<section id="automacao" class="three">
			<div class="container">

				<header>
					<h2>Automação</h2>
				</header>

				<div>
					<article class="item"
						style="padding: 40px; background-color: #f1f2f6">
						<a href="#lampadas" onclick="acendeLampada()"
							style="padding: 5px; background-color: #3498db" class="button" >Ligar
							Lampada 1</a>
					</article>
				</div>

			</div>
		</section>

		<!-- Contact -->
		<section id="historico" class="four">
			<div class="container">

				<header>
					<h2>Historico</h2>
				</header>
				
				<div style="width: 50%; align:center">
					<form action="/PesquisarHistorico" method="post" >
					 Sensor:
					 <select name="sensor">
						  <option value="">S1</option>
						  <option value="">Saab</option>
						  <option value="">Opel</option>
					  </select>
					  Data Inicio:<input type="text" name="dataInicio">
					  Data Fim:<input type="text" name="dataFim">
					  <br>
					  <input type="submit" value="Pesquisar">
					</form>
				</div>
				
				<div  th:fragment="historico" style="margin-top: 50px">
					<table th:unless="${indicadores == null || indicadores.isEmpty() }" style="width:100%">
					  <tr>
					    <th>Sensor</th>
					    <th>Valor</th> 
					    <th>Data</th>
					  </tr>
					<tr th:each="indicador : ${indicadores}">
						<td th:text="${indicador.componente}"></td>
						<td th:text="${indicador.data_hora}"></td>
						<td th:text="${indicador.status}"></td>
					</tr>
					</table>
									
				</div>

			</div>
		</section>

		<!-- Contact -->
		<section id="api" class="two">
			<div class="container">

				<header>
					<h2>API</h2>
				</header>

			</div>
		</section>

		<!-- Contact -->
		<section id="tecnologia" class="three">
			<div class="container">

				<header>
					<h2>Tecnologias Utilizadas</h2>
				</header>
				<div>
					<p> <a href="https://projects.spring.io/spring-boot/"> <b>Spring Boot 2.0</b></a></p>
					<p> <a href="https://www.thymeleaf.org/"><b>Thymeleaf</b></a></p>
					<p> <b>HTML5/CSS</b></p>
					<p> <b>Gambiarra/Go Horse</b></p>
				</div>
			</div>
		</section>

	</div>

	<!-- Footer -->
	<div id="footer">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Stefanini. All rights reserved.</li>
		</ul>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollzer.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>
	

</body>
</html>